.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.details {
  display: flex;
  align-items: center;
  text-align: center;

  img {
    max-width: 100%;
    margin-right: 20px;
  }

  div {
    flex: 1;
    text-align: left;
  }

  .card-name,
  .card-culture,
  .card-description {
    margin-bottom: 10px;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.actionButtons {
  display: flex;
}

.deleteButtonContainer,
.editButtonContainer {
  display: flex;
  align-items: center;

  Link {
    // ... (Estilos para el enlace, si es necesario)
  }

  img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 150px; /* Ajusta el margen derecho para separar más los botones */
  }
}

.editButtonContainer {
  img {
    margin-left: 15px; /* Ajusta el margen izquierdo para separar más los botones */
  }
}
