.titleAndForm {
  text-align: center;
  .titleAndForm {
    text-align: center;
    position: relative;
  }

  .titleAndForm h2 {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    margin: 0auto; /* Añadido para centrar el h2 */
  }

  .titleAndForm h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    background-color: #000;
  }

  .createMonumentForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    padding: 40px;
    border-radius: 8px;
    max-width: 400px;
    margin: 40px auto;
  }

  .createMonumentForm input,
  .createMonumentForm select {
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }

  .createMonumentForm input[name='description'] {
    height: 150px;
  }

  .createMonumentForm button {
    padding: 12px;
    cursor: pointer;
  }

  /* Estilos para pantallas más pequeñas (responsive) */
  @media screen and (max-width: 400px) {
    .createMonumentForm {
      padding: 15px;
    }

    .createMonumentForm input,
    .createMonumentForm select {
      margin-bottom: 10px;
      padding: 8px;
    }

    .createMonumentForm button {
      padding: 10px;
    }
  }
}
