ul {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  padding: 2rem;
  gap: 1rem;
  padding-block-end: 2rem;
  margin: 0;
  background-color: #ccc; /* Cambiado a gris */
}

ul p {
  font-size: large;
}

/* Estilos para pantallas más grandes (min-width: 400px) */
@media (min-width: 360px) {
  ul {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    padding-inline: 5rem;
  }
}
