body {
  /* Elimina el margen predeterminado del body */
  padding: 0; /* Elimina el relleno predeterminado del body */
  height: 100vh; /* Establece la altura del body al 100% de la altura de la ventana */
  display: flex;
  flex-direction: column; /* Elimina el margen predeterminado */
  height: 100vh; /* Establece la altura al 100% del viewport */
  overflow-x: hidden; /* Opcional: Evita la barra de desplazamiento horizontal */
}

header {
  background-color: lightblue; /* Color de fondo del header */
  flex-shrink: 0; /* Evita que el header se reduzca cuando el contenido crece */
}

main {
  flex-grow: 10; /* Hace que el main ocupe todo el espacio disponible */
}

footer {
  flex-shrink: 0;
}
