.mainPageContainer {
  padding: 20px;
}

.createLinkButton {
  text-align: center; /* Centra el bot贸n */
  margin-bottom: 40px; /* Ajusta la distancia del bot贸n al header */
}
.createButton {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: royalblue; /* Color azul */
  color: white; /* Texto blanco */
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: dodgerblue; /* Cambio de color al pasar el rat贸n */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.categoriesContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  h2 {
    margin: 0;
    text-align: center;
  }
}

/* Otros estilos que ya tienes */

.listContainer {
  display: flex;
  justify-content: center;
  align-items: center; /* Alineaci贸n vertical al centro */
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
}

.listContainer::-webkit-scrollbar {
  overflow: hidden;
}
.category {
  width: 100%;
}
