.header {
  height: 15vh;
  background-color: royalblue;
  color: azure;
  padding-inline: 1rem;
  min-height: 15vh;
  display: flex;
  flex-direction: column; /* Cambiado a diseño de columna para centrar el botón */
  align-items: center; /* Centra el contenido horizontalmente */
  justify-content: space-between;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.logotipo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px; /* Ajusta el margen según tus preferencias */
}
h2 {
  margin-left: 1000px;
}

.enunciado {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: white;
  margin: 0;
  text-align: center;
  font-size: medium;
}

/* Estilos para pantallas más pequeñas (responsive) */
@media (max-width: 400px) {
  .header {
    height: 20vh;
  }

  .logotipo {
    flex-direction: column;
    text-align: center;
  }

  .enunciado {
    font-size: 1.5rem;
  }

  button {
    margin-top: 10px; /* Ajusta la separación del botón del contenido superior */
  }
  //@media (max-width:320px){
}
