.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.loginForm {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 8px;
  margin-top: auto; /* Ajusta la posición vertical del formulario */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Alinea el contenido del formulario en columna */
  align-items: center; /* Centra el contenido en el eje horizontal */
}

.submitButton {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.registerLinkButton {
  margin-top: 10px;
}
