.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0; /* Color de fondo gris */
}

.loginForm {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: white; /* Cambiado a blanco para el fondo del formulario */
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para resaltar el formulario */
}

.submitButton {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.registerLinkButton {
  margin-top: 10px;
}
